* {
  padding: 0;
  margin: 0; }

body {
  font-size: 16px; }

@font-face {
  font-family: Gotham;
  src: url(../fonts/GothamPro-Black.ttf); }
@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url(../fonts/BrandonGrotesque-Bold); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf); }
.header {
  height: 93px;
  display: flex;
  justify-content: flex-end; }

.logo {
  width: 19%; }

.logo__position {
  padding-top: 22px; }

.nav-wrap {
  padding-top: 30px;
  width: 63.8%; }

.smart-menu {
  display: none; }

.burger {
  position: absolute;
  top: 25px;
  right: 63px;
  cursor: pointer;
  display: none; }

.navigation__item {
  padding: 12px 19px;
  font-size: 0.84em;
  color: #999;
  text-decoration: none;
  font-family: Lato; }
  .navigation__item:hover {
    background-color: #ffbb42;
    color: #fff;
    cursor: pointer;
    border-radius: 3px; }
  .navigation__item:active {
    background-color: #fea300; }

.form__button:active {
  background-color: #fea300; }

.banner {
  background-color: #709dca;
  height: 589px; }

.titles__banner {
  padding-top: 110px; }

.title {
  text-transform: uppercase;
  font-size: 1.875em;
  font-family: Gotham;
  color: #394b50;
  text-align: center; }

.subtitle {
  color: #717b7e;
  font-family: OpenSans;
  font-size: 1em;
  text-align: center;
  font-weight: 300; }

.title_color_white {
  color: #fff; }

.title_size_35px {
  font-size: 2.19em; }

.subtitle_color_white {
  color: white; }

.form-wrap {
  margin-top: 30px;
  text-align: center; }

.form__name, .form__email, .form__numb {
  width: 237px;
  height: 46px;
  border: none;
  border-radius: 3px;
  font-family: OpenSans;
  font-size: 0.81em;
  margin-right: 5px;
  padding-left: 44px; }
  .form__name::placeholder, .form__email::placeholder, .form__numb::placeholder {
    font-family: OpenSans;
    font-size: 1em;
    color: #b6b6b6; }

.form__name:focus, .form__email:focus, .form__numb:focus, .form__submit:focus {
  outline: none; }

.form__name {
  background-image: url(../images/form__name-img.png);
  background-repeat: no-repeat;
  background-position: 15px 15px; }
.form__email {
  background-image: url(../images/form__email-img.png);
  background-repeat: no-repeat;
  background-position: 15px 17px; }
.form__numb {
  background-image: url(../images/form__numb-img.png);
  background-repeat: no-repeat;
  background-position: 15px 16px; }
.form__button {
  width: 211px;
  height: 46px;
  border: none;
  border-radius: 3px;
  font-family: OpenSans;
  font-size: 0.875em;
  color: #fff;
  background-color: #ffbb42;
  cursor: pointer; }
  .form__button:focus {
    outline: none; }

.notebook {
  background-image: url(../images/notebook.png);
  width: 649px;
  height: 343px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.56em; }

.wrapper {
  height: 265px;
  padding-top: 17px;
  width: 445px; }

.slider {
  height: inherit;
  width: inherit; }

.wrapper input {
  display: none; }

.slides {
  height: inherit;
  position: absolute;
  width: inherit; }

.slide1 {
  background-image: url(../images/slide-1.jpg); }

.slide2 {
  background-image: url(../images/slide-2.jpg); }

.slide3 {
  background-image: url(../images/slide-3.jpg); }

.active {
  display: flex;
  margin-top: 83px;
  justify-content: center; }
  .active label {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    border: 2px solid #dedfe0;
    margin-right: 7px;
    width: 11px;
    border-radius: 50%; }
    .active label:hover {
      border: 2px solid #1ca8dd; }

.commands label {
  display: none; }

#slide1:checked ~ .slider > .slide1, #slide2:checked ~ .slider > .slide2, #slide3:checked ~ .slider > .slide3 {
  z-index: 1; }

#slide1:checked ~ .commands label:nth-child(3)::before, #slide2:checked ~ .commands label:nth-child(1)::before,
#slide3:checked ~ .commands label:nth-child(2)::before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 25px;
  color: #fff;
  cursor: pointer; }

#slide1:checked ~ .commands label:nth-child(2)::before, #slide2:checked ~ .commands label:nth-child(3)::before,
#slide3:checked ~ .commands label:nth-child(1)::before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 25px;
  color: #fff;
  cursor: pointer; }

#slide1:checked ~ .commands label:nth-child(3):hover, #slide2:checked ~ .commands label:nth-child(1):hover,
#slide3:checked ~ .commands label:nth-child(2):hover {
  opacity: 0.5; }

#slide1:checked ~ .commands label:nth-child(2):hover, #slide2:checked ~ .commands label:nth-child(3):hover,
#slide3:checked ~ .commands label:nth-child(1):hover {
  opacity: 0.5; }

#slide1:checked ~ .commands label:nth-child(2), #slide2:checked ~ .commands label:nth-child(3),
#slide3:checked ~ .commands label:nth-child(1) {
  position: absolute;
  right: 0;
  top: 50%;
  display: block; }

#slide1:checked ~ .commands label:nth-child(3), #slide2:checked ~ .commands label:nth-child(1),
#slide3:checked ~ .commands label:nth-child(2) {
  position: absolute;
  left: 0;
  top: 50%;
  display: block; }

#slide1:checked ~ .active label:nth-child(1), #slide2:checked ~ .active label:nth-child(2),
#slide3:checked ~ .active label:nth-child(3) {
  border: 2px solid #1ca8dd; }

.service {
  width: 100%; }

.srv-content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 140px; }

.srv__position {
  margin-top: 80px; }

.titles__service {
  padding-top: 200px; }

.srv-content {
  width: 35%;
  min-width: 510px; }
  .srv-content__logo {
    float: left; }
  .srv-content__title {
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    padding: 3px 0 0 80px;
    text-transform: uppercase; }
  .srv-content__text {
    font-family: OpenSans;
    font-size: 0.8125em;
    padding: 15px 60px 0 80px;
    line-height: 22px; }
    .srv-content__text_padding-right_20 {
      padding-right: 20px; }
  .srv-content__logo_padding-left_15 {
    padding-left: 15px; }

.about-us {
  background-color: #ffc155;
  width: 100%;
  background-image: url(../images/about-us.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  display: flex;
  justify-content: flex-end; }
  .about-us__position {
    padding: 160px 260px 170px 0; }

.about-cnt {
  width: 29.7%; }

.about__title {
  font-family: Gotham;
  color: #fff;
  font-size: 1.875em;
  text-transform: uppercase; }
.about__text {
  margin-top: 10px;
  font-family: OpenSans;
  color: #fff;
  font-size: 0.81em;
  line-height: 24px; }
.about__button {
  margin-top: 20px;
  font-family: OpenSans;
  color: #fff;
  font-size: 0.875em;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 1px #e7ad48 solid;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer; }
  .about__button:hover {
    background-color: #ffbb42; }
  .about__button:active {
    background-color: #fea300; }
  .about__button:focus {
    outline: none; }

.price {
  background-color: #e7edf3; }

.titles__price {
  padding-top: 135px; }

.price-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 140px; }

.price-box {
  width: 390px;
  height: 440px;
  background-color: #fff;
  border-radius: 2px; }

.price-cnt {
  padding: 55px 30px 0;
  text-align: center;
  font-family: Lato;
  text-transform: uppercase; }

.price-title {
  font-size: 1.56em;
  color: #818b95;
  font-weight: lighter; }

.cost__position {
  padding: 20px 0; }
.cost__dlr {
  font-size: 1.875em;
  color: #ffbb42;
  font-weight: bold;
  vertical-align: 22px; }
.cost__numb {
  font-size: 3.75em;
  color: #ffbb42;
  font-weight: bold;
  line-height: 22px; }
.cost__month {
  font-family: Lato;
  font-size: 0.875em;
  color: #8b949d; }

.price-row {
  border-top: 1px #e2e9f0 solid;
  padding: 15px 0;
  color: #c0c5ca;
  font-size: 0.84em; }

.btn__submit {
  background-color: #ffbb42;
  color: #fff;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 16px 22px;
  cursor: pointer; }
  .btn__submit:active {
    background-color: #fea300; }
  .btn__submit:focus {
    outline: none; }

.price-btn__position {
  padding-top: 15px; }

.price-box_bg-blue {
  background-color: #709dca; }

.price-title_text-white {
  color: #fff; }

.cost__dlr_text-white {
  color: #fff; }
.cost__numb_text-white {
  color: #fff; }
.cost__month_text-white {
  color: #fff; }

.price-row_text-white {
  color: #fff; }

.price-box_height-500 {
  height: 500px; }

.price-cnt_padding-top-85 {
  padding-top: 85px; }

.works {
  background-color: #fff; }

.titles__works {
  padding-top: 155px; }

.works-content {
  display: flex;
  justify-content: center;
  text-align: center; }

.step {
  width: 13%;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 226px;
  position: relative; }
  .step__position {
    padding: 80px 30px 90px; }

.arrow-1, .arrow-3 {
  position: absolute;
  top: 50px;
  left: 80%; }

.arrow-2 {
  position: absolute;
  transform: rotate(178deg);
  top: 140px;
  left: 75%; }

.step-logo__img {
  max-width: 100%; }

.step__title {
  font-size: 1.25em;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: bold;
  color: #4e5d61; }
.step__text {
  font-family: OpenSans;
  font-size: 0.81em;
  color: #7b7b7b;
  padding-top: 30px; }

.works-btn__position {
  text-align: center;
  padding-bottom: 50px; }

.client {
  background-color: #ffc155; }

.client-commit {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .client-commit__position {
    padding-top: 60px;
    padding-bottom: 160px; }

.commit {
  display: flex;
  flex-basis: 568px;
  border-radius: 5px;
  background-color: #fff; }
  .commit__position {
    margin: 10px 15px; }

.human {
  padding: 50px 50px 50px 0px; }

.photo__human {
  border-radius: 100%;
  margin: 40px 30px 0px; }

.human__text {
  font-family: OpenSans;
  font-size: 0.81em;
  color: #909090;
  padding-bottom: 30px;
  line-height: 22px;
  position: relative; }
  .human__text::before {
    content: "\201C";
    font-family: BrandonGrotesque-Bold;
    font-size: 30px;
    color: #7b7b7b;
    font-weight: bold;
    position: absolute;
    left: -20px; }
  .human__text::after {
    content: "\201D";
    font-family: BrandonGrotesque-Bold;
    font-size: 30px;
    color: #7b7b7b;
    font-weight: bold;
    position: absolute;
    margin-left: 15px;
    transform: scale(1, -1); }
.human__work {
  color: #f78d58;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 0.875em;
  display: inline-block; }
.human__career {
  color: #a9b6ba;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 0.875em;
  display: inline-block; }

.form__name_border-1, .form__email_border-1 {
  border: 1px solid #cbcbcb; }
.form__name_width-305 {
  width: 305px; }
.form__email_width-385 {
  width: 385px; }

.map {
  display: flex;
  justify-content: center;
  position: relative; }
  .map__world {
    margin-top: 50px;
    max-width: 100%; }

.address {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .address .logo {
    width: auto; }

.cloud {
  display: flex;
  justify-content: center;
  align-items: center; }

.cloud-text {
  position: absolute;
  text-align: center;
  line-height: 24px; }

.cloud-title {
  font-family: OpenSans;
  font-size: 0.81em;
  color: #fff;
  text-transform: uppercase; }

.cloud-address {
  font-family: Lato;
  font-size: 0.81em;
  color: #879295; }

.cloud-email {
  color: #f5b543; }

.cut-line {
  margin-top: 55px;
  margin-bottom: 25px;
  width: 100%; }

.line {
  border: none;
  background-color: #e3e7ec;
  max-width: 1170px;
  width: 95%;
  height: 2px;
  margin: auto; }

.navigation__item_text-black {
  color: #000; }

.tel {
  font-family: Lato;
  font-size: 1.41em; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__nav {
  margin-top: 30px; }

.footer__tel {
  margin-top: 30px;
  margin-bottom: 20px; }

.twitter, .facebook, .google {
  margin-right: 15px; }

.copyright {
  width: 100%;
  background-color: #709dca;
  color: #fff;
  font-family: OpenSans;
  font-size: 0.81em;
  text-align: center;
  padding: 15px 0px; }

.footer__copyright {
  margin-top: 45px; }

@media screen and (min-width: 1700px) {
  .client-commit {
    width: 68.8%;
    margin: auto;
    justify-content: space-between; }
    .client-commit__position {
      padding-top: 60px;
      padding-bottom: 160px; }

  .commit {
    width: 48.8%;
    flex-basis: auto; }
    .commit__position {
      margin: 15px 0px; } }
@media screen and (max-width: 1304px) {
  .nav-wrap {
    width: auto; }

  .header {
    justify-content: space-between; }

  .titles__banner, .titles__price, .titles__works {
    padding-top: 40px; }

  .srv-content {
    width: 45%; }

  .about-us__position {
    padding: 50px 200px 50px 0; } }
@media screen and (max-width: 1083px) {
  body {
    font-size: 22px; }

  .burger {
    display: block; }

  .navigation__item {
    position: relative;
    top: 63px;
    width: 140px;
    background-color: #000000c2;
    color: #fff; }

  .header__nav {
    height: 0;
    overflow: hidden;
    transition: 0.5s;  }

  .smart-menu:checked ~ .header__nav {
    height: 393px;
    transition: 1.5s;
  }

  .navigation__item {
    display: block;
    position: relative;
    top: 63px;
    width: 140px;
    background-color: #000000c2;
    color: #fff; }

  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }
    .form__name, .form__email, .form__numb {
      display: block;
      margin-bottom: 10px;
      margin-right: 0px;
      width: 305px;
      box-sizing: border-box; }
    .form__button {
      width: 305px; }

  #slide1:checked ~ .commands label:nth-child(3)::before, #slide2:checked ~ .commands label:nth-child(1)::before,
  #slide3:checked ~ .commands label:nth-child(2)::before, #slide1:checked ~ .commands label:nth-child(2)::before, #slide2:checked ~ .commands label:nth-child(3)::before,
  #slide3:checked ~ .commands label:nth-child(1)::before {
    color: #000; }

  .titles__service {
    padding-top: 350px; }

  .srv-content-wrap {
    padding-bottom: 40px; }

  .about-us {
    background-image: none;
    justify-content: center; }
    .about-us__position {
      padding: 50px 0; }

  .about-cnt {
    width: 70%; }

  .price-box-wrap {
    flex-direction: column;
    padding-bottom: 40px; }

  .price-box {
    margin-bottom: 30px;
    height: 500px; }

  .arrow-1, .arrow-3 {
    left: 75%; }

  .arrow-2 {
    left: 70%; }

  .footer__nav {
    display: none; }
  .footer__tel {
    margin: 0; }

  .copyright {
    padding: 5px 0px; } }
@media screen and (max-width: 920px) {
  .arrow-1, .arrow-2, .arrow-3 {
    display: none; }

  .works-content {
    flex-direction: column;
    align-items: center; }

  .step {
    width: 50%;
    justify-content: space-around; }
    .step__position {
      padding: 20px 0px; }

  .map {
    padding-top: 40px; }
    .map__world {
      display: none; }

  .address {
    position: static; } }
@media screen and (max-width: 700px) {
  .notebook {
    display: none; }

  .titles__service {
    padding-top: 100px; } }
@media screen and (max-width: 580px) {
  .photo {
    display: none; }

  .human {
    padding: 50px; } }

/*# sourceMappingURL=style.css.map */
